<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Street Address, Suite, City, Zipcode</th>
          <th scope="col">Phone</th>
          <th scope="col">Website</th>
          <th scope="col">Lat, Long</th>
          <th scope="col">Company, Catch Phrase, Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td><a [routerLink]="['/user-edit', user.id]">{{ user.name }}</a></td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address.street }}, {{ user.address.suite }}, {{ user.address.city }}, {{ user.address.zipcode }}
          </td>
          <td>{{ user.phone }}</td>
          <td>{{ user.website }}</td>
          <td>{{ user.address.geo.lat }}, {{ user.address.geo.lng }}</td>
          <td>{{ user.company.name }}, {{ user.company.catchPhrase }}, {{ user.company.bs }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <table width="100%">
  <thread>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Company</th>
  </thread>
  <tr *ngFor="let x of user">
    <td><a mat-button [routerLink]="['user-edit', user.id]">{{user.name}}</a><br></td>
    <td>{{person.username}}</td>
    <td style="font-size: 12px">{{user.email}}</td>
    <td>
      <strong>Suite:</strong>{{user.address.suite}}<br>
      <strong>Street:</strong>{{user.address.street}}<br>
      <strong>City:</strong>{{user.address.city}}<br>
      <strong>Zipcode:</strong>{{user.address.zipcode}}<br>
      <strong>Lat:</strong>{{user.address.geo.lat}}<br>
      <strong>Lng:</strong>{{user.address.gro.lng}}<br>
    </td>
    <td>{{user.phone}}</td>
    <td>{{user.website}}</td>
    <td style="font-size: 14px">
      <strong>Name:</strong>{{user.company.name}}<br>
      <strong>Name:</strong><i>{{user.company.catchPhrase}}</i><br>
      <strong>Name:</strong><i>{{user.company.bs}}</i><br>
    </td>
  </tr>
</table>

<button [routerLink]="['user-add']">Add</button> -->